.selectionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: fit-content; */
    width: 100%;
    height: 100%;
}

.animalInput{
    
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    width: 100%;
    /* max-width: 200rem; */
    height: 100%;
    justify-content: center;
    align-items: center;
    /* margin: 2; */
    font-size: 1;
    background: #f2f2f275;
    background-color: rgba(193, 207, 207, 50%);
    padding: 2rem;
    border-radius: 3px;
    z-index: 999;
    /* outline: 10px solid red; */
    
}

.inputAnimalType, .inputAnimalBreed, .inputLocation{
    min-height: 100%;
    min-width: 100%;
    width: inherit;
    padding: .1rem;
    margin: .01rem;
    z-index: 999;
    
    
}
.shelterContainer{
    margin: 2rem;
    
}

.inputHeader{
    font-size: 1.6rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 997; */
    background: #f2f2f275;
    width: inherit;
}
.inputLocation{
    width: 90%;
}
   
.inputAnimalType {
    z-index: 99;
}
.inputAnimalBreed {
    z-index: 98;
}
.inputLocation{
    z-index: 97;
    padding: 0.5em;
}