

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  text-align:center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  min-height: 32rem;
  /* height: 30rem; */
  background-color: rgb(193, 207, 207);
  box-shadow: 0 2px 6px #0000001a;
  }

  .image{
    border-radius: 10px;
  }

  .animalName{
    font-size: 1px;
  }
  
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #2d1038;
    border-color: #77468a;
    box-shadow: inset 1px;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    padding: 1rem;
    margin: 1;
    font-size: 1.7rem;
    
    line-height: 1.5;
  }

  .name{
    display: flex;
    align-items: flex-end;
    align-self: center;
    text-align: center;
    bottom: 0;
    width: auto;
    
  }