.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #1b1b1b;
    justify-content: space-around;
    align-items: center;
    background: #000;
    color: #fff;
    z-index: 100;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.logo {
    font-size: 1rem;
    height: 6em;
    width: 6em;
    width: fit-content;
}