* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	background: linear-gradient(rgb(227, 224, 228), rgb(203, 203, 216));
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}
