
.title a,
.title span {
   color: #2d18a5;
   text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
   text-decoration: underline;
}

.title {
   margin: 0;
   line-height: 1.15;
   font-size: 5rem;
}

.title,
.description {
   text-align: center;
}
.header{
   
   width: 100vw;
   height: 100vh;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
}

.description {
   margin: 4rem 0;
   line-height: 1.5;
   font-size: 2.5rem;
}
