.animalContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.animalContainer h1{
    display: flex;
    justify-content: center;
}
.description{
    padding: 1rem;
}

.animalContainer p{
    margin: .5rem;
    padding: .5rem;
}
.animalContainer ul{
    margin: .45rem;
    padding: .45rem;
}
.animalContainer li{

    list-style:inside;
}

.tagContainer {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.internalLink {
    margin: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}


.externalLink{
    /* text-emphasis:inherit */
    margin: 1rem;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.externalLink :hover, 
.internalLink :hover{
    color: #0070f3;
    border-color: #0070f3;
}