/* Navbar  */
.nav {
   height: 5rem;
   padding: .7rem;
   background: #000;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.nav ul {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
}

.nav ul li a {
   /* margin: 5px 15px; */
   margin: 2rem 3rem;
   font-size: 1.5em
}
.nav ul li :hover{
   color: #0070f3;
   border-color: #0070f3;
}

.logo{
   font-size: 1.2rem;
   height: 3.5em;
   width: fit-content;
   bottom: 10em;
}
