.paginationButtons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content:flex-start;
    padding: 1rem;
    margin: 2rem;
    font-size: 1.25rem;

    
}
.nextButton{
    font-size: 1rem;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.previousButton{
    font-size: 1rem;
    justify-content: flex-start;
}
.searchResultHeader{
    display: flex;
    justify-content: center;

    padding: 1rem;
    margin: 1rem;
}