.resultsGrid {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-block: 1rem;
    width: min(95%, 70rem);
    margin-inline: auto;
    /* grid-template-columns: repeat(4, 1fr); */
}

@media (min-width: 50em){
    .resultsGrid{
        grid-template-columns: repeat(4, 1fr);
    }
}


.image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(231, 238, 243);
}